In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/mahme/Downloads/Data Analysis/PYHTON_VS_CODE/flights_sample_3m.csv')

In [3]:
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'])

In [4]:
df['YEAR'] = df.FL_DATE.dt.year
df.YEAR

0          2019
1          2022
2          2022
3          2023
4          2020
           ...
2999995    2022
2999996    2022
2999997    2022
2999998    2019
2999999    2019
Name: YEAR, Length: 3000000, dtype: int32

In [5]:
df

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT,YEAR
0,2019-01-09,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,186.0,176.0,153.0,1065.0,NaN,NaN,NaN,NaN,NaN,2019
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN,2022
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN,2022
3,2023-03-06,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",...,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0,2023
4,2020-02-23,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,181.0,182.0,153.0,985.0,NaN,NaN,NaN,NaN,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,2022-11-13,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1522,JAX,"Jacksonville, FL",CLT,"Charlotte, NC",...,85.0,71.0,55.0,328.0,NaN,NaN,NaN,NaN,NaN,2022
2999996,2022-11-02,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1535,ORD,"Chicago, IL",AUS,"Austin, TX",...,176.0,145.0,130.0,977.0,NaN,NaN,NaN,NaN,NaN,2022
2999997,2022-09-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2745,HSV,"Huntsville, AL",ATL,"Atlanta, GA",...,55.0,50.0,28.0,151.0,0.0,36.0,0.0,0.0,0.0,2022
2999998,2019-11-13,Republic Airline,Republic Airline: YX,YX,20452,6134,BOS,"Boston, MA",LGA,"New York, NY",...,88.0,77.0,50.0,184.0,NaN,NaN,NaN,NaN,NaN,2019
2999999,2019-06-15,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,2823,LGB,"Long Beach, CA",SJC,"San Jose, CA",...,70.0,63.0,52.0,324.0,NaN,NaN,NaN,NaN,NaN,2019

In [6]:
flights_data_2019 = df[df['YEAR'] == 2019]
flights_data_2019

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT,YEAR
0,2019-01-09,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,186.0,176.0,153.0,1065.0,NaN,NaN,NaN,NaN,NaN,2019
5,2019-07-31,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,665,DAL,"Dallas, TX",OKC,"Oklahoma City, OK",...,60.0,54.0,36.0,181.0,141.0,0.0,0.0,0.0,0.0,2019
7,2019-07-08,Republic Airline,Republic Airline: YX,YX,20452,4464,HSV,"Huntsville, AL",DCA,"Washington, DC",...,122.0,151.0,88.0,613.0,0.0,0.0,23.0,0.0,0.0,2019
13,2019-11-20,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1065,BDL,"Hartford, CT",ATL,"Atlanta, GA",...,160.0,133.0,112.0,859.0,NaN,NaN,NaN,NaN,NaN,2019
18,2019-03-24,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,906,DEN,"Denver, CO",IAH,"Houston, TX",...,148.0,139.0,110.0,862.0,NaN,NaN,NaN,NaN,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999988,2019-04-16,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,OO,20304,5243,SFO,"San Francisco, CA",GEG,"Spokane, WA",...,142.0,132.0,112.0,733.0,206.0,0.0,0.0,0.0,8.0,2019
2999992,2019-01-13,JetBlue Airways,JetBlue Airways: B6,B6,20409,1668,CHS,"Charleston, SC",BOS,"Boston, MA",...,132.0,117.0,98.0,818.0,NaN,NaN,NaN,NaN,NaN,2019
2999993,2019-12-23,Allegiant Air,Allegiant Air: G4,G4,20368,1899,SRQ,"Sarasota/Bradenton, FL",IND,"Indianapolis, IN",...,138.0,130.0,110.0,876.0,NaN,NaN,NaN,NaN,NaN,2019
2999998,2019-11-13,Republic Airline,Republic Airline: YX,YX,20452,6134,BOS,"Boston, MA",LGA,"New York, NY",...,88.0,77.0,50.0,184.0,NaN,NaN,NaN,NaN,NaN,2019
2999999,2019-06-15,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,2823,LGB,"Long Beach, CA",SJC,"San Jose, CA",...,70.0,63.0,52.0,324.0,NaN,NaN,NaN,NaN,NaN,2019

In [ ]:
# flights_data_2019.to_csv('flights_data_2019.csv')

In [ ]:
#  flights_data_2020 = df[df['YEAR'] == 2020]
#  flights_data_2020.to_csv('flights_data_2020.csv')

In [ ]:
# flights_data_2021 = df[df['YEAR'] == 2021]
# flights_data_2021.to_csv('flights_data_2021.csv')

In [ ]:
# flights_data_2022 = df[df['YEAR'] == 2022]
# flights_data_2022.to_csv('flights_data_2022.csv')

In [ ]:
# flights_data_2023 = df[df['YEAR'] == 2023]
# flights_data_2023.to_csv('flights_data_2023.csv')